
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>푸드다마스</title>

<link rel="stylesheet" media="screen" href="css/app.css">
<link rel="stylesheet" media="screen" href="css/fooddamas.css">
</head>


<body>
	<div class="nav-bar">
		<div class="LeeBack">← 뒤로</div>
		<div class=" leer">우리청년컵밥</div>
	</div>

	<div class="cart-wrap">
		<div class="sub-title">
			<span>주문표</span> </a>
		</div>
		<div class="cart">
			<div class="restaurant-name">놀부부대찌개-반포점</div>
			<ul class="list-group">

				<li class="list-group-item clearfix ng-scope">
					<div class="row">
						<div class="menu-name ng-binding">놀부부대찌개（2인）: 놀부부대찌개（2인）</div>
						<div>
							<div class="col-xs-6 pull-left">
								<a class="btn btn-del-menu">삭제</a> <span
									class="order-price ng-binding">15,000원</span>
							</div>
							<div class="col-xs-6 text-right">
								<a class="btn-minus">-</a> 
								
								<span class="order-num">1</span>
								<a class="btn-plus">+</a>
							</div>
						</div>
					</div>
				</li><li class="list-group-item clearfix ng-scope">
					<div class="row">
						<div class="menu-name ng-binding">놀부부대찌개（2인）: 놀부부대찌개（2인）</div>
						<div>
							<div class="col-xs-6 pull-left">
								<a class="btn btn-del-menu">삭제</a> <span
									class="order-price ng-binding">15,000원</span>
							</div>
							<div class="col-xs-6 text-right">
								<a class="btn-minus">-</a> 
								
								<span class="order-num">1</span>
								<a class="btn-plus">+</a>
							</div>
						</div>
					</div>
				</li><li class="list-group-item clearfix ng-scope">
					<div class="row">
						<div class="menu-name ng-binding">놀부부대찌개（2인）: 놀부부대찌개（2인）</div>
						<div>
							<div class="col-xs-6 pull-left">
								<a class="btn btn-del-menu">삭제</a> <span
									class="order-price ng-binding">15,000원</span>
							</div>
							<div class="col-xs-6 text-right">
								<a class="btn-minus">-</a> 
								
								<span class="order-num">1</span>
								<a class="btn-plus">+</a>
							</div>
						</div>
					</div>
				</li>
			</ul>


			<div class="clearfix">
				
				 <span class="list-group-item cart-total-order-price ng-binding">
					합계: 15,000원 </span>
			</div>

			<div class="cart-btn clearfix">
				<a class="btn btn-lg btn-ygy2 btn-left">메뉴추가</span>
				</a> <a class="btn btn-lg btn-ygy1 btn-right">주문하기</a>
			</div>
		</div>
	</div>

	<!-- 하단 영역 -->
	<footer class="footer">
		<div class="inner" style="font-size: 16px;">

			<div style="color: #ffffff; margin-bottom: 15px;">푸드다마스</div>
			<nav class="links-external">
				<ul class="list-links">
					<li><a href="/">회사소개</a></li>
					<li><a href="/">직원내용</a></li>
					<li><a href="/">이용약관</a></li>
					<li><a class="only-desktop" href="/">브랜드</a></li>
				</ul>
			</nav>
			<div class="language-copyrights">
				<p class="select-language">
					<a href="/" class="selected">한국어</a> <a href="/">English</a>
				</p>
				<small>
					<p>
						푸드다마스 대표이사: 이성현 | 사업자 등록번호: 000-00-0000 <br class="only-mobile">
						서울특별시 강남구 역삼동 12, 8층<br> <span class="copyrights">©
							2016 zzennam. All rights reserved.</span>
					</p>
				</small>
			</div>
		</div>
	</footer>
</body>
</html>